:root {
  --bg-sidebar: #042331;
  --bg-siderbar-header: #063146;
  --text: #f1f1f1;
  --label: #0a5275;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.sidebar {
  z-index: 2;
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: var(--bg-sidebar);
  transition: all 0.5s ease;
}

.sidebar header {
  font-size: 22px;
  color: var(--text);
  text-align: center;
  line-height: 70px;
  background: var(--bg-siderbar-header);
  user-select: none;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  transition: 0.4s;
}

ul li:hover a {
  padding-left: 50px;
}

.sidebar ul a i {
  margin-right: 16px;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  background: var(--bg-sidebar);
  border-radius: 3px;
}

label #btn {
  z-index: 1;
  position: fixed;
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all 0.5s;
}

label #cancel {
  position: fixed;
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: var(--label);
  padding: 4px 9px;
  transition: all 0.5s ease;
}

#check:checked ~ .sidebar {
  left: 0;
}

#check:checked ~ label #btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel {
  left: 195px;
}

#check:checked ~ section {
  margin-left: 250px;
  transition: all 0.5s;
}
#main {
  background-image: url('./images/starryNight.gif');
  /*background image from -   https://www.deviantart.com/artbit/art/Animated-Starfield-Tile-201679214 */
  background-repeat: repeat;
}

/* #main {
  display: flex;
  background-size: cover;
  height: 100%;
  background: linear-gradient(
    309deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(4, 35, 49, 1) 0%,
    rgba(31, 79, 92, 1) 51%,
    rgba(0, 212, 255, 1) 100%
  );
} */

/* ========== pages ========== */

.welcome {
  color: rgb(248, 250, 240);
  text-align: center;
}
.welcome h2 {
  padding: 50px 50px 40px 220px;
  font-size: 2.5rem;
}
.welcome p {
  padding: 0 50px 0 260px;
  font-size: 1.2rem;
}
.welcomeLogo {
  padding-top: 30px;
}
.welcomeLogo svg {
  height: 100px;
  width: 100px;
  transition: all 0.5s ease;
}
.welcomeLogo svg:hover {
  height: 115px;
  width: 115px;
}
/* background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/385441/balance-110850.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh; */
